* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkcyan: hsl(185, 75%, 39%);
  --verydarkdesaturated: hsl(229, 23%, 23%);
  --darkgrayishblue: hsl(227, 10%, 46%);
}
/* .back {
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-position: right 50vw bottom 30vh, left 50vw top 50vh;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10;
} */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-color: var(--darkcyan);
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
  background: -15vw -90vh no-repeat url(../images/bg-pattern-top.svg),
    #19a2ae 46vw 50vh no-repeat url(../images/bg-pattern-bottom.svg);
}

.centered {
  width: 320px;
  height: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  z-index: 100;

  /* border-radius: 0px 0px 10px 10px; */
  /* text-align: center; */
}
.centered::before {
  content: "";
  background: url(./images/bg-pattern-card.svg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 37%;
  border-radius: 10px 10px 0px 0px;
  z-index: 0;
}
.profile {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 20px;
  margin-top: 90px;
  z-index: 10;
}
.profile::after {
  content: "";
  background: #fff;
  position: absolute;
  top: 84px;
  left: 19;
  bottom: 0px;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  z-index: -1;
}
.profile-img {
  display: block;
  width: 100px;
  height: auto;
  border-radius: 50%;

  border: 3px solid white;
  position: relative;
  /* top: -15px; */
}

.profile h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  color: var(--verydarkdesaturated);
}
.profile .num {
  color: var(--darkgrayishblue);
  font-weight: normal;
  margin-left: 4px;
}
.profile p {
  margin-top: 5px;
  color: var(--darkgrayishblue);
  opacity: 0.8;
}
.underline {
  border-bottom: 1px solid var(--darkgrayishblue);
  opacity: 0.2;
  width: 100%;
}
.viewers {
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  line-height: 1.4;
  padding: 20px;
}
.viewers p {
  font-size: 13px;
  color: var(--darkgrayishblue);
  opacity: 0.8;
}
.viewers h2 {
  font-size: 18px;
  font-weight: bolder;
  color: var(--verydarkdesaturated);
}

@media (max-width: 700px) {
  body {
    background: -60vw -30vh/100% no-repeat url(../images/bg-pattern-top.svg),
      #19a2ae 30vw 45vh no-repeat url(../images/bg-pattern-bottom.svg);
  }
}
